<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors" />
        <meta name="generator" content="Hugo 0.104.2" />
        <title>Itomori · Welcome</title>

        <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/cover/" />

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    </head>
    <body class="d-flex h-100 text-center text-light" style="background-color: #1A202C;">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto">
                <div>
                    <h3 class="float-md-start mb-0">Itomori</h3>
                </div>
            </header>

            <main class="px-3 row justify-content-center">
                <div style="background: #2D3749; box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px; width: 70%; border-radius: 10px; padding: 150px;">
                    <h1>Hello world</h1>
                </div>
            </main>

            <footer class="mt-auto text-white-50">
                <p></p>
            </footer>
        </div>
    </body>
</html>